node_modules
.next
out
dist
build

.env
.env.local
.env.production
.env.development

.cursor

*.log
.DS_Store
# 백업 폴더
_backup_shrek-lms/
playwright-report/
test-results/
next-env.d.ts

create_oci_key.py
